{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{%load crispy_forms_tags%}
{% block content %}
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-dark">
        <h1 class="mt-2 text-light ">Login</h1><br>
        <!-- Jumbotron -->
    </div>
</header>
<div class=" d-flex justify-content-center container my-4 center">
	<form method="post" class="form-group">
        <table class="table table-borderless d-flex mt-lg-0 ">
        {%csrf_token%}
		{{form|crispy}}
        <tr>
            <td colspan="2"><button type="submit" class="btn btn-primary">Login</button><td>
        <tr>
        </table>
        <p>Don't have an account? <a href="/register">Create One</a></p>
	</form>
</div>
{% endblock content %}