{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{%load crispy_forms_tags%}
{% block content %}
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-dark">
        <h1 class="mt-2 text-light ">User Registration</h1><br>
        <!-- Jumbotron -->
    </div>
</header>
<div class=" d-flex justify-content-center container my-4 center">
	<form method="post" class="form-group">
        <table class="table table-borderless d-flex ">
        {% csrf_token %}
		{{form|crispy}}
		<tr>
            <td colspan="2"> <button type="submit" class="btn btn-primary">Register</button></td>
        </tr>
        </table>
	</form>
</div>
{% endblock content %}