{%extends 'base.html'%}
{%load static%}

{%block title%}Dashboard{%endblock%}
{%block content%}
<header class='Nav_header bg-light' >
  <nav >
    <a href="{%url 'Home'%}" id="logo">Aptitude</a>
    <i class="fas fa-bars" id="ham-menu"></i>
    <ul id="nav-bar">
    <li>
      <a href="{%url 'Home'%}">Home</a>
    </li>
    <li>
      <a href="{%url 'Branches'%}">Branches</a>
    </li>
    {%if user.is_authenticated%}
    <li>
      <a href="{% url 'Result_Branch' %}">Results</a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'About' %}">Team</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
    {%if user.is_authenticated%}
    <li>
      <a href="{% url 'logout' %}">Logout</a>
    </li>
    {% endif %}
    {% if not user.is_authenticated %}
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
    <li>
      <a href="{% url 'register' %}">Register</a>
    </li>
    {% endif %}
    </ul>
  </nav>
  </header>


        <header>
  
          <!-- Jumbotron -->
        <div class="p-5 text-center bg-dark">
            <h1 class="mb-3 text-light ">About Authors</h1><br>
          <!-- Jumbotron -->
        
        </div>
          
            </header>

        <div class='container d-flex justify-content-around'>
            <div class="card my-5" style="width:400px">
                <img class="card-img-top img-responsive"  src="{% static 'img/p1.png' %}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Dr. Shashikant V. Athawale</h4>
                  <p>Mentor</p>
                  <p class="card-text">Eminent Academician | Wireless Ad hoc Network Research Expert | Aspiring Author | Lifelong Learner | Head Of Computer Department at AISSMSCOE Pune.</p>
                  
                </div>
              </div>


              <div class="card my-5" style="width:400px">
                <img class="card-img-top img-responsive"  src="{% static 'img/p1.png' %}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Aniket Jagtap</h4>
                  <p>Developer</p>
                  <p class="card-text">BE Computer Engineering student at AISSMSCOE  Full Stack Developer</p>
                  
                </div>
              </div>

        </div>


{%endblock%}