{%extends 'base.html'%}
    {%load static%}
    {%block title%}Branches{%endblock%}
    {%block content%}

    <header class='Nav_header bg-light' >
        <nav >
          <a href="{%url 'Home'%}" id="logo">Aptitude</a>
          <i class="fas fa-bars" id="ham-menu"></i>
          <ul id="nav-bar">
          <li>
            <a href="{%url 'Home'%}">Home</a>
          </li>
          <li>
            <a href="{%url 'Branches'%}">Branches</a>
          </li>
          {%if user.is_authenticated%}
          <li>
            <a href="{% url 'Result_Branch' %}">Results</a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'About' %}">Team</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          {%if user.is_authenticated%}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
          
          </ul>
        </nav>
        </header>

    <div class='container border border-dark  shadow-lg'>
        <h3 class="my-4">All Branches</h3>
        <div class="row">
            {% for branch in data%}
            <div class="mt-5 mx-auto gap-2 d-grid col-5">
                        <a href="{%url 'all_categories' branch.id%}" style="font-size:20px; " class="btn btn-primary"><span>
                        {%if branch.title == "Computer"%} <i class='fas fa-laptop' style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Electrical" %} <i class="fa-solid fa-bolt" style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Civil" %} <i class="fa-solid fa-helmet-safety" style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Mechanical" %} <i class='fas fa-wrench' style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Chemical" %} <i class="fa-sharp fa-solid fa-vial" style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Electronics and Telecommunication" %} <i class="fas fa-broadcast-tower" style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Mechanical Sandwich" %} <i class="fa-solid fa-gears" style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Production S/W" %} <i class="fas fa-tools" style='font-size:24px'></i>{% endif %}
                        {% if branch.title == "Robotics and Automation" %} <i class="fas fa-robot" style='font-size:24px'></i>{% endif %}
                        
                        </span>{{ branch.title}}</a><br>
            </div>
            
            {%endfor%}
        </div>
    </div>
    {%endblock%}