    {%extends 'base.html'%}
    {%load static%}
    {%block title%}Dashboard{%endblock%}
    {%block content%}
            <header>
      
              <!-- Jumbotron -->
            <div class="p-5 text-center bg-dark">
                <h1 class="mb-3 text-light ">Aptitude Test Practice</h1><br>
              <!-- Jumbotron -->

              <!-- <a href="{% url 'logout' %}" class="btn btn-outline-light align-items-end">Logout</a> -->
            </div>
              
                </header>

    {%endblock%}